<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380171286570-8qr83svostrn47hv67ct9vele23od8i8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380171286570-8qr83svostrn47hv67ct9vele23od8i8</string>
	<key>API_KEY</key>
	<string>AIzaSyDsvsQRBV_r8XZk9-DDgw51534-LTm52dc</string>
	<key>GCM_SENDER_ID</key>
	<string>380171286570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>itsmaxpark.BirthdayBuddy</string>
	<key>PROJECT_ID</key>
	<string>birthdaybuddy-fb932</string>
	<key>STORAGE_BUCKET</key>
	<string>birthdaybuddy-fb932.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380171286570:ios:0e3b025b2bf491b9ee6b53</string>
</dict>
</plist>